<div class="grid_12 intro">
  <h2>Help Your Rumble Team Get Its Act Together</h2>
  <div class="bubble">
    <p>
      Rumble Helper is a tool for Rails Rumble teams to organize tasks.  At a
      quick glance, you can see who's working on what, what's left to do, and
      what's finished.  No more yelling across the room at your teammates, "Dude,
      has anyone installed Passenger on the server yet?"
    </p>

    <div class="links">
      <div class="thumber">
        <%= link_to image_tag('screeny-thumb.jpg'), image_path('screeny.jpg') %>
      </div>
      <div class="clickies">
        <ul>
          <li><%= link_to "Sign up!", new_account_url %></li>
          <li><%= link_to "Login", new_user_session_url %></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  </div>
</div>
