body {
  background-color: #ddd;
  color: #333;
  margin: 0;
  padding: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors label {
  color: red;
  font-weight: bold;
}

.fieldWithErrors input,
.fieldWithErrors select,
.fieldWithErrors textarea {
  border: 2px solid red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin: 5px 5px 0 5px;
  padding: 5px;
}

#errorExplanation ul {
  margin-bottom: 0;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header {
  color: white;
  font-size: x-large;
  font-weight: bold;
  background-color: #333;
  border-bottom: 2px solid #222;
  position: relative;
}
#header a,
#header a:visited,
#header a:hover {
  color: white;
  background: transparent;
  text-decoration: none;
}
#header .grid_12 {
  padding: 1em 0;
}

#nav {
  color: white;
  background-color: navy;
  height: 1.5em;
  padding: 0.5em 0;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav li {
  float: left;
  padding: 0 0.5em;
  margin: 0 -0.3em 0 0.3em;
}
#nav a, #nav a:visited, #nav a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#flash {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: green;
  color: white;
  border: 2px solid #222;
  width: 25em;
  height: 1.5em;
  padding: 0.5em;
  text-align: center;
  display: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#main {
  margin-top: 2em;
}

#description_bubble {
  display: none;
  position: absolute;
  width: 15em;
  padding: 1em;
  background: white;
  border: 2px solid #222;
  right: -16em;
  top: 0;
  z-index: 200;
}

.task {
  float: left;
  padding: 0.2em;
  width: 13em;
  margin: 0.2em;
  position: relative;
}
.task_name {
  padding: 0.5em 0.3em 0.3em 0.7em;
  position: relative;
  font-size: 0.8em;
}
.task_name span {
  float: left;
  margin: 0.1em 0 0.2em 0;
}
.task_name .icons {
  position: absolute;
  right: 0.3em;
  display: none;
  background-color: #222;
}
.task_name .ui-icon {
  background-image: url(../images/ui-icons_ffffff_256x240.png);
  cursor: pointer;
}
.task_content {
  padding: 0.5em;
  background: transparent;
  border: 0;
  font-size: 0.8em;
}
.task_content .status {
  font-weight: bold;
}

.critical .task_name {
  background: #ff0000 url(../images/red-header.png) repeat-x scroll 50% 50%;
  border: 1px solid #efe6e0;
}
.high .task_name {
  background: #f6a828 url(../images/orange-header.png) repeat-x scroll 50% 50%;
  border: 1px solid #e78f08;
}
.medium .task_name {
  background: #000080 url(../images/blue-header.png) repeat-x scroll 50% 50%;
  border: 1px solid #000060;
}
.low .task_name {
  background: #008000 url(../images/green-header.png) repeat-x scroll 50% 50%;
  border: 1px solid #006000;
}

.bubble {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0.7em;
}

.long_notice {
  background-color: #008000;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0.7em;
  margin-bottom: 2em;
  text-align: center;
}
.long_notice a,
.long_notice a:visited {
  color: white;
}

.tasks_bubble {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0;
  min-height: 12em;
}

.member .nickname {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  font-weight: bold;
  font-size: larger;
  padding: 0.5em;
  background: #222 url(../images/black-shine.jpg) repeat-x top;
  color: white;
}

.tasks, .no_tasks, .padded {
  padding: 0.7em;
}

.hidden {
  display: none;
}

.ralign {
  text-align: right;
}
.calign {
  text-align: center;
}

.ui-draggable {
  cursor: move;
  z-index: 100;
}

.ui-state-disabled {
  opacity: 1;
}

table.list {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #222;
  width: 100%;
}
table.list th {
  text-align: left;
  background-color: #222;
  color: white;
  padding: 0.5em;
}
table.list td {
  padding: 0.5em;
}
table.list a:hover {
  background: transparent;
}
table.list img {
  vertical-align: middle;
  border: 0;
}
table.list tr.alt td {
  background-color: #eee;
}

.minititle {
  border-bottom: 1px solid #222;
  font-weight: bold;
  margin-bottom: 0.3em;
}

#spinner {
  display: none;
  vertical-align: middle;
}

label {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}
