<!-- BEGIN ID SELECTOR -->
<script type="text/javascript" id="__openidselector" src="https://www.idselector.com/selector/7d3e56bc9bb4bfc199dabebd8069e14409bd903f" charset="utf-8"></script>
<!-- END ID SELECTOR -->

<div id='openid_selector'>
  <p>
    <label for='openid_identifier'>Your OpenID URL:</label><br/>
    <%= f.text_field :openid_identifier, :id => "openid_identifier" %>
  </p>
</div>
