<div class="prefix_3 grid_6 suffix_3">
<h1>Login</h1>

  <div class="bubble">
  <% form_for @user_session, :url => user_session_url, :html => {:id => "openid_form"} do |f| %>
    <%= f.error_messages %>

    <%= render :partial => "users/openid", :locals => { :f => f } %>

    <%= f.submit "Login" %>
  <% end %>
  </div>
</div>
